<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>{% block title %}Title placeholder{% endblock %}</title>
</head>
<body>
<header class="container">
    <nav aria-label="Основная навигация">
        <ul>
            <li><a href="{% url 'blog_index' %}"><strong>Все записи</strong></a></li>
        </ul>
        <ul>
            <li><a href="{% url 'new_post' %}">Новый пост</a></li>
            {% if user.is_authenticated %}
            <li>{{ user.username }}</li>
            <li>
                <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
                    <button type="submit" class="outline"
                            style="border: none; padding: 0; display: inline; width: auto; height: auto;margin: 0">Выйти
                    </button>
                </form>
            </li>
            {% else %}
            <li>Анонимный пользователь</li>
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'signup' %}">Регистрация</a></li>
            {% endif %}

        </ul>
    </nav>
</header>

<main class="container">
    <h1>{% block header %}Header placeholder{% endblock %}</h1>
    {% block content %}
    {% endblock %}
</main>

<footer class="container">
    <small>
        Кэширование и внедрение в контекст: {{ time }}</small>
    <hr/>
    {% block footer %}
    {% endblock %}
</footer>

</body>
</html>
