{% extends 'blog/base.html' %}

{% block title %}Сообщение{% endblock %}
{% block header %}Сообщение{% endblock %}

{% block content %}
<article>
    <div>
        <div class="card-header">
            {% if request.resolver_match.url_name == 'post_edit' %}
            Редактировать сообщение
            {% else %}
            Создать новый пост
            {% endif %}
        </div>
        <hr>
        <div>

            {% include 'blog/include/_form_errors.html' with form=form %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div aria-required={% if field.field.required %}true{% else %}false{% endif %}>
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {% if field.field.required %}<span>*</span>{% endif %}
                    </label>
                    <div>
                        {{ field }}

                        {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help">
                            {{ field.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                <div>
                    <button type="submit">
                        {% if form.instance.id %}
                        Редактировать запись
                        {% else %}
                        Добавить запись
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</article>
{% endblock %}